body {
    background-color: #fff; 
    color: #000;
  }
  
  .navbar {
    background-color: #000; 
  }
  
  .navbar-nav .nav-link {
    color: #fff; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc; 
  }
  
  .btn-outline-light {
    border: 1px solid #fff;
    color: #fff;
  }
  
  .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
  }
  
  .card {
    background-color: #222;
    color: #fff; 
  }
  
  .card-title, .card-text, .btn {
    color: #fff; 
  }
  
  .carousel-caption h5, .carousel-caption p {
    color: #fff; 
  }
  
  footer {
    background-color: #000; 
    color: #fff; 
  }
  
  footer .bi {
    color: #fff; 
    margin: 0 10px;
  }
  
  footer .bi:hover {
    color: #ccc; 
  }
  
  /* Navbar - Efeito hover nos links */
.navbar-nav .nav-link:hover {
    color: #fff;  
    background-color: #333; 
    border-radius: 5px; 
}

/* Efeito hover nas imagens da categoria */
.container .row .col-6 .d-flex:hover img {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 

}
/* Hover nos produtos em destaque */
.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* Hover no botão "Ver Mais" */
.card .btn:hover {
    background-color: #6c757d;
    color: #fff; 
}

/* Aumentando o espaçamento na borda do navbar onde está escrito "Óticas do Povo" */
.navbar .navbar-brand {
    padding-left: 20px;  
    padding-right: 20px; 
    padding-top: 10px;  
    padding-bottom: 10px; 
}

.navbar .navbar-brand:hover {
    background-color: #333;  
    color: #fff;  
}

a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none; 
  }
  